@using EShopping.Entity.Response.DTO
@using EShopping.Common;
@using EShopping.Common.Enums;
@using EShopping.Entity.UIDTO;

@model NewPublicListDTO
@{

    int pageIndex = (ViewBag.PageIndex == null ? 1 : (int)ViewBag.PageIndex);
    int pageSize = (ViewBag.PageSize == null ? 1 : (int)ViewBag.PageSize);
}

<header id="header" class="shopcar-top">
    <h2>最新揭晓</h2>
</header>
<section id="page-content" class="shopcar-content">
    <ul class="products" style="border:0px">

        @if (Model != null)
        {
            if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var item in Model.Products)
                {
                    <li>
                        <a href="javascript:;" title="">
                            <img src="@item.coverImg1" />
                            <span class="prodtitle">@item.productName</span>
                            <span class="prodnum">期号:<em>@item.licensingCode</em></span>
                            <span class="prodtime">即将揭晓</span>
                            <ul class="andtime">
                                <li class="hour">@(item.winnerTime.ConvertToPublicDate(ConvertDateTypeEnum.Hour))</li>
                                <li class="minu">@(item.winnerTime.ConvertToPublicDate(ConvertDateTypeEnum.Minutes))</li>
                                <li class="sero">@(item.winnerTime.ConvertToPublicDate(ConvertDateTypeEnum.Second))</li>
                            </ul>
                        </a>
                    </li>
                }
            }
            if (Model.HistoryProducts != null && Model.HistoryProducts.Count > 0)
            {
                foreach (var item in Model.HistoryProducts)
                {


                    <li>
                        <a href="javascript:;" title="">
                            <img src="images/p.png" />
                            <span class="prodtitle">@item.productName</span>
                            <span class="newprodinfo">期号：<em>@item.licensingCode</em></span>
                            <span class="newprodinfo">获奖者：<em class="blue">@item</em></span>
                            <span class="newprodinfo">参与人次：<em>123456789</em></span>
                            <span class="newprodinfo">幸运号：<em class="red">1000888</em></span>
                            <span class="newprodinfo">揭晓时间：<em>2016-05-03 12:00</em></span>
                        </a>
                    </li>
                }
            }

        }


    </ul>
</section>
