 

            <header id="header" class="shopcar-top">
                <h2>发现</h2>
            </header>
            <div class="find_index">
                <ul>
                    <li><a href="@Url.Action("ShareList", "ShareOrder")" title="">晒单分享</a></li>
                    <li><a href="@Url.Action("Registering", "MyEShopping")" title="">签到</a></li>
                    <li><a href="@Url.Action("Index", "Say")" title="">来看小编说</a></li>
                    <li><a href="@Url.Action("RobReb", "MyEShopping")">邀请得红包</a></li>
                    <li><a href="@Url.Action("Index", "Activity")" title="">最新的活动</a></li>
                    <li><a href="@Url.Action("Index", "Secret")" title="">秘密团</a></li>
                </ul>
            </div>
         