@using EShopping.Entity.Response.DTO;
@using EShopping.Common;


@model List<ProductDTO>


@{
    int categoryId = (int)ViewBag.CategoryId;
    int tcategoryId = (int)ViewBag.TCategoryId;
    int areaId = (int)ViewBag.AreaTypeId;

    var productTypes = (List<ProductTypeDTO>)ViewBag.ProductTypes;

}


<header id="header" class="shopcar-top">
    <h2>全部商品</h2>
</header>
<section id="page-content" class="shopcar-content">
    <div class="fullrank">
        <ul>
            <li @((categoryId == 0 && tcategoryId == 0) ? "class=\"curr\"" : "")><a href="@Url.Action("List", "Product", new { categoryId = categoryId })" title="最新">最新</a></li>
            <li class="curr"><a href="@Url.Action("List", "Product", new { categoryId = categoryId, areaId = 1 })" title="最快">最快</a></li>
            <li><a href="@Url.Action("List", "Product", new { categoryId = categoryId, areaId = 2 })" title="最热">最热</a></li>

            <li><a href="@Url.Action("List", "Product", new { categoryId = categoryId, areaId = 3, })" title="价格">价格↑</a></li>

            <li><a href="@Url.Action("List", "Product", new { categoryId = categoryId, areaId = 4 })" title="价格">价格↓</a></li>

        </ul>
    </div>
    <div class="fullinner">
        <div class="fullmenu">
            <ul>
                <a href="@Url.Action("List", "Product", new { categoryId = 0, areaId = areaId })" title="全部商品"><li class="curr">全部商品</li></a>
                <li><a href="@Url.Action("List", "Product", new { categoryId = 1, areaId = areaId })" title="新手专区">新手专区</a></li>
                <li><a href="@Url.Action("List", "Product", new { categoryId = 2, areaId = areaId })" title="大众专区">大众专区</a></li>
                <li><a href="@Url.Action("List", "Product", new { categoryId = 3, areaId = areaId })" title="土豪专区">土豪专区</a></li>
                <li><a href="@Url.Action("List", "Product", new { categoryId = 4, areaId = areaId })" title="限购专区">限购专区</a></li>
                <li><a href="@Url.Action("List", "Product", new { categoryId = 5, areaId = areaId })" title="返现专区">返现专区</a></li>
                @if(productTypes!=null&&productTypes.Count>0)
                {
                    foreach(var item in productTypes)
                    {
                          <li><a href="@Url.Action("List", "Product", new { categoryId = 0, areaId = 0, tcategoryId=@item.id })" title="商品分类">@item.typeName </a></li>
                    }
                }

              
            </ul>
        </div>
        <div class="fullgoods-list">
            <ul class="products">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    { 
                    <li>
                        <a href="@Url.Action("Detail", "Product", new { id = item.Id, spellBuyProductId = item.spellbuyproductId })">
                            <img src="@(item.coverImg1)" />
                            <span class="prodtitle">@item.productName</span>
                            <span class="prodlott">开奖进度<em>@(ExtendUtility.ConvertProductspeed(item.productLimit, item.spellbuyCount))</em></span>
                            <span class="pacet"><em></em></span>
                            <a href="javascript:;" class="iaddcar" pid="@item.Id" spellbuyproductid="@item.spellbuyproductId"></a>
                            <span class="prodns">
                                <em>总需@(item.productLimit)</em>
                                <em>剩余<i>@((item.productLimit - item.spellbuyCount) < 0 ? 0 : item.productLimit - item.spellbuyCount)</i></em>
                            </span>
                        </a>
                        <span class="dzzqu"></span>
                    </li>
                }
                }
            </ul>
        </div>
    </div>
</section>
