@using EShopping.Entity.Response.DTO

@model List<BuyProductDTO> 


@foreach (var item in Model)
                            {
<div class="secret_pro">
    <div class="secret_img">
        <a class="pro_img" href="javascript:;" title=""><img src="@item.coverImg1" width="100%" /></a>
        <h4 class="pro_name">@item.productName</h4>
        @*<p class="pro_color" style="padding-bottom:1rem;">（粉色 黑色 白色）</p>*@
        <p class="pro_money" style="font-size:1rem;font-weight:normal;color:#999;">
            期号：@item.licensingCode
            <a href="javascript:;" title="追加">追加</a>
        </p>
        <ul class="pro_num">
            <li class="pro_deg"><span>总计：@item.spellbuyLimit</span><span>剩余：<em>@(item.spellbuyLimit - item.spellbuyCount)</em></span></li>
            <li class="num_line"><span></span></li>
        </ul>
        <div class="inpcu">
            <ul>
                <li>本期参与：<span>@item.currentUserBuyCount</span>人次</li>
                <li>查看我的号码:<span>@item.currentUserBuyCode</span></li>
            </ul>
        </div>

    </div>
</div>
                            }