
@using EShopping.Entity.Response.DTO;
@using EShopping.Common;
@using EShopping.WXUI.Models

@model ProductDTO



<li>
    <a href="@Url.Action("Detail", "Product", new { id = @Model.Id, spellBuyProductId =@Model.spellbuyproductId })">
        <img class="lazy" src="/images/defaultloading.gif" data-original="@(Model.coverImg1)" style="height:215px;"/>
        <span class="prodtitle">@Model.productName</span>
        @*<span class="prodtitle">@Model.productPrice</span>*@
        <span class="prodlott">开奖进度<em>@(ExtendUtility.ConvertProductspeed(@Model.productLimit, @Model.spellbuyCount))</em></span>
        <span class="pacet"><em style="width:@(ExtendUtility.ConvertProductspeed(@Model.productLimit, @Model.spellbuyCount))"></em></span>
        <a href="javascript:;" class="iaddcar" onclick="shoppingCarAnimation(this)" pid="@Model.Id" spellbuyproductid="@Model.spellbuyproductId"></a>
        <span class="prodns">
            <em>总需@(Model.productLimit)</em>
            <em>剩余<i>@((Model.productLimit - @Model.spellbuyCount) < 0 ? 0 : @Model.productLimit - @Model.spellbuyCount)</i></em>
        </span>
    </a>
    <span class="dzzqu"></span>
</li>