@using EShopping.Entity.Response.DTO

@model List<BuyProductDTO>


<header id="header" class="shopcar-top">
    <a class="backs" href="javascript:;" title="返回"></a>
    <h2>购买记录</h2>
</header>
<section id="page-content" class="shopcar-content">
    <div class="secret_tabs" id="secretTab" style="margin:0px;">
        <ul>
            <li><a href="@Url.Action("ShoppingHistoryList", "MyEShopping")">全部</a><em></em></li>
            <li class="curr">进行中<em></em></li>
            <li><a href="@Url.Action("ShoppingWinnedList", "MyEShopping")">已开奖</a><em></em></li>
        </ul>
    </div>
    <div class="swiper-container" id="secretContainar">
        <div class="swiper-wrapper">



            <div class="swiper-slide">
                <div class="content-slide">
                    <div class="g_tabs_list">

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="secret_pro">
                                    <div class="secret_img">
                                        <a class="pro_img" href="javascript:;" title=""><img src="@item.coverImg1" width="100%" /></a>
                                        <h4 class="pro_name">@item.productName</h4>
                                        @*<p class="pro_color" style="padding-bottom:1rem;">（粉色 黑色 白色）</p>*@
                                        <p class="pro_money" style="font-size:1rem;font-weight:normal;color:#999;">
                                            期号：@item.licensingCode
                                            <a href="javascript:;" title="追加">追加</a>
                                        </p>
                                        <ul class="pro_num">
                                            <li class="pro_deg"><span>总计：@item.spellbuyLimit</span><span>剩余：<em>@(item.spellbuyLimit - item.spellbuyCount)</em></span></li>
                                            <li class="num_line"><span></span></li>
                                        </ul>
                                        <div class="inpcu">
                                            <ul>
                                                <li>本期参与：<span>@item.currentUserBuyCount</span>人次</li>
                                                <li>查看我的号码:<span>@item.currentUserBuyCode</span></li>
                                            </ul>
                                        </div>
                                      
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
