@using EShopping.Entity.Response.DTO;
@using EShopping.Common;

@model ProductDTO

            <header id="header" class="shopcar-top">
                <a class="backs" href="javascript:;" title="返回"></a>
                <h2>商品详情</h2>
                <ul class="prodback">
                    <li class="prodhome"><a href="javascript:;" title="首页"></a></li>
                    <li class="prodcar"><a href="javascript:;" title=""></a></li>
                </ul>
            </header>
            <section id="page-content" class="shopcar-content">
                <div class="swiper-container" id="banner" style="font-size:0px;">
                    <div class="swiper-wrapper">
                        @if (!string.IsNullOrWhiteSpace(Model.coverImg1))
                        {
                            <div class="swiper-slide"><a href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model.coverImg1" /></a></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.coverImg2))
                        {
                            <div class="swiper-slide"><a href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model.coverImg2" /></a></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.coverImg3))
                        {
                            <div class="swiper-slide"><a href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model.coverImg3" /></a></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.coverImg4))
                        {
                            <div class="swiper-slide"><a href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model.coverImg4" /></a></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.coverImg5))
                        {
                            <div class="swiper-slide"><a href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model.coverImg5" /></a></div>
                        }
                    </div>
                    <!-- 分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="prodpagehead">
                    <div class="ppagetitle">
                        <h4>@Model.productName</h4>
                        @*<a href="javascript:;" title="分享">分享</a>*@
                    </div>
                    <div class="ppagenum">
                        <p>期号：@Model.licensingCode</p>
                        <p class="line"><em style="width:100%;"></em></p>
                        <p class="nums"><span>总需@(Model.productLimit)</span><span>剩余<i>0</i></span></p>
                    </div>
                    <div class="publitime">
                        <ul>
                            <li>
                                <p>期号：81888888</p>
                                <p>揭晓倒计时：<em>08:28:58</em></p>
                            </li>
                            <li>
                                <a href="javascript:;" title="">计算详情</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="winner">
                    <div class="winner-inner">
                        <a class="winner-user" href="javascript:;" title=""></a>
                        <ul>
                            <li>获奖者：<span>微笑小花</span></li>
                            <li>用户ID：987654321<em>（唯一不变标识）</em></li>
                            <li>期号：123456789</li>
                            <li>本期参与：888人次</li>
                            <li>揭晓时间：2016-05-02 12:00</li>
                        </ul>
                    </div>
                    <p class="luck">幸运号码：<em>8000008</em><a href="javascript:;" title="">计算详情</a></p>
                </div>
                <div class="prodpagelist" id="prodPageList">
                    <div class="prodtab">
                        <a href="javascript:;" title="">您没有参与本期夺宝哦，赶快试试吧</a>
                    </div>
                    <div class="pitem">
                        <div class="pitem-list">
                            <h4 class="tuwen">图文详情</h4>
                        </div>
                        <div class="lr-pad show">
                            <div class="pitem_inner">
                                <img src="images/act_img.png" width="100%" />
                                <p>同时，中方正在采取措施妥善管控有关海域的事态。我们强烈希望日方恪守双方有关原则共识精神，冷静看待目前事态，不要采取任何可能导致局势紧张和复杂化的行动，共同为有关海域的稳定作出建设性努力。</p>
                            </div>
                        </div>
                    </div>
                    <div class="pitem">
                        <div class="pitem-list">
                            <h4 class="wangqi">往期揭晓</h4>
                        </div>
                        <div class="lr-pad hide">
                            <div class="pitem_inner">
                                <img src="images/act_img.png" width="100%" />
                                <p>同时，中方正在采取措施妥善管控有关海域的事态。我们强烈希望日方恪守双方有关原则共识精神，冷静看待目前事态，不要采取任何可能导致局势紧张和复杂化的行动，共同为有关海域的稳定作出建设性努力。</p>
                            </div>
                        </div>
                    </div>
                    <div class="pitem">
                        <div class="pitem-list">
                            <h4 class="shaidan">商品晒单</h4>
                        </div>
                        <div class="lr-pad hide">
                            <div class="pitem_inner">
                                <img src="images/act_img.png" width="100%" />
                                <p>同时，中方正在采取措施妥善管控有关海域的事态。我们强烈希望日方恪守双方有关原则共识精神，冷静看待目前事态，不要采取任何可能导致局势紧张和复杂化的行动，共同为有关海域的稳定作出建设性努力。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partlog">
                    <h4>全部参与记录</h4>
                    <div class="loglist">
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                        <div class="loglist-item">
                            <a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>
                            <ul class="log-user-name">
                                <li class="name"><span>微笑@小花</span>（IP:180.105.115.60）</li>
                                <li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
          
    <script type="text/javascript" src="js/libs/swiper.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                var oTxt = '<div class="loglist-item">' +
							'<a class="log-user-img" href="javascript:;" title=""><img width="100%" src="images/photo.jpg" /></a>' +
							'<ul class="log-user-name">' +
							'<li class="name"><span>微笑@小花1</span>（IP:180.105.115.60）</li>' +
								'<li class="lognum"><span class="col">参与<span>8888</span>次</span> 2016-04-08 18:08:28:888</li>' +
							'</ul>' +
						'</div>';
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $('#page-content').outerHeight();
                var wHeight = $(this).height() - $('#footer').height() - 1;
                if (wHeight + scrollTop == scrollHeight) {
                    for (var i = 0; i < 10; i++) {
                        $('.loglist').append(oTxt);
                    }
                };
            });

            $.each($('#prodPageList').find('.pitem .pitem-list'), function (i, ele) {
                $(ele).on('click', function () {
                    if ($(ele).next('.lr-pad').hasClass('show')) {
                        $(ele).find('h4').addClass('curr')
                        $(ele).next('.lr-pad').removeClass('show').addClass('hide');
                    } else {
                        $(ele).find('h4').removeClass('curr')
                        $(ele).next('.lr-pad').removeClass('hide').addClass('show');
                    }

                })
            })

        });
    </script>
