@using EShopping.Entity.Response.DTO
@using EShopping.Common;
@using EShopping.Common.Enums;
@using EShopping.Entity.UIDTO;

@model NewPublicListDTO
@{

    int pageIndex = (ViewBag.PageIndex == null ? 1 : (int)ViewBag.PageIndex);
    int pageSize = (ViewBag.PageSize == null ? 1 : (int)ViewBag.PageSize);
}

<header id="header" class="shopcar-top">
    <h2>最新揭晓</h2>
</header>
<section id="page-content" class="shopcar-content">
    <ul class="products" style="border:0px">

 

        @if (Model != null)
        {
            if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var item in Model.Products)
                {
                   <li>
                       <a href="@Url.Action("Detail", "Product", new { id = @item.Id, spellBuyProductId =@item.spellbuyproductId})" title="">
                           <img class="lazy" src="/images/defaultloading.gif" data-original="@item.coverImg1" />
                           <span class="prodtitle">@item.productName</span>
                           <span class="newprodinfo">期号：<em>@item.licensingCode</em></span>
                           <span class="newprodinfo">获奖者：<em class="blue">@item.winnerUserName</em></span>
                           <span class="newprodinfo">参与人次：<em>@item.winnerUserBuyCount</em></span>
                           <span class="newprodinfo">幸运号：<em class="red">@item.winnerBuyCode</em></span>
                           <span class="newprodinfo">揭晓时间：<em>@item.winnerTime.ConvertToPublicDate()</em></span>
                       </a>
                    </li>
                }
            }

        }


    </ul>

    <div class="pullUp" style="display: block; line-height: 40px;">
        <div class="loader" style="display: none;">
            <span></span><span></span><span></span><span></span>
        </div><div class="pullUpLabel">
            <img src="~/Images/up.png" height="12px" />... 加载更多数据... <img src="~/Images/up.png" height="12px" />
        </div>
    </div>

    @Html.HiddenFor(c => pageIndex)
    @Html.HiddenFor(c => pageSize)

</section>




<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $('#page-content').outerHeight();
            var wHeight = $(this).height() - $('#footer').height() - 1;
            if (wHeight + scrollTop >= scrollHeight) {

                var pageIndex = $("#pageIndex").val();
                var pageSize = $("#pageSize").val();

                var data = {
                    PageIndex: pageIndex,
                    PageSize: pageSize
                };

                $(".loader").show();

                $.ajax({
                    type: "post",
                    url: "@Url.Action("ListItem", "NewPublic")",
                    data: data,
                    dataType: "html",
                    success: function (response) {
                        $('.products').append(response);
                        $('img.lazy').lazyload({ threshold: 200 });
                        $("#pageIndex").val(parseInt(pageIndex) + 1);
                        $(".loader").hide();
                        if ($.trim(response) == "") {
                            $(".pullUpLabel").html("亲，以上就是全部开奖信息哟。");
                        }
                    }
                });
            };
        });

    });


</script>