@using EShopping.Entity.Response.DTO
@using EShopping.Common
@using EShopping.Entity.UIDTO

@model SecretDTO


<script type="text/javascript">
    $(function () {
        $('.rule_title').on('click', function () {
            console.log('a')
            $('.rule_content').toggle();
        })
    })

    ///只允许输入数字
    function onlyNum(obj) {
        if (isNaN(parseInt(obj.value))) {
            obj.value = 1;
            return;
        }
        if (parseInt(obj.value) <= 0) {
            obj.value = 1;
            return;
        }

        obj.value = parseInt(obj.value);

        if (obj.value.length > 4) obj.value = obj.value.slice(0, 4)
        culPrice();
    }

    function subtraction(obj)
    {
        var iVal = $(obj).next('input').val();
        iVal--
        if (iVal <= 1) {
            return;
        };
        $(obj).next('input').val(iVal);
        $(".ser_amount li").removeClass("curr");
        $(".ser_amount").find("[data='" + iVal + "']").addClass("curr");
        culPrice();
    }

    function addition(obj)
    {
        var iVal = parseInt($(obj).prev('input').val());
        iVal++;
        if (iVal > 9999) {
            return;
        };
        $(obj).prev('input').val(iVal);
        $(".ser_amount li").removeClass("curr");
        $(".ser_amount").find("[data='" + iVal + "']").addClass("curr");
        culPrice();
    }

    function SetCount(obj)
    {
        var iVal = $(obj).attr("data");
        $("#PrivateMemberCount").val(iVal);
        $(".ser_amount li").removeClass("curr");
        $(obj).addClass("curr");
        culPrice();
    }

    function culPrice()
    {
        var stockNum = $("#PrivateMemberCount").val();
        var price = $(".secret_ser").attr("Price");
        if(stockNum>0)
        {
            $("#showPrice").html("每次" + parseFloat(price / stockNum).toFixed(2) + "卡乐币");
        } else {
            $("#showPrice").html("每次" + price + "卡乐币");
        }
    }

</script>
@using (Html.BeginForm("SaveSecret", "Secret", FormMethod.Post))
{ 

            <header id="header" class="shopcar-top">
                
                <h2 style="background-color: #BF0000; color: #fff !important;">秘密团</h2>
            </header>
            <section id="page-content" class="shopcar-content">
                <div class="secret_rule">
                    <h3 class="rule_title">秘密团的规则</h3>
                    <div class="rule_content" style="display:none">
                        <p>1.选择商品发起秘密团。</p>
                        <p>2.选择商品的购买份数(分数为10的倍数)并且录入一个属于自己的"秘密团代号"。</p>
                        <p>3.分享给朋友。</p>
                        <p>4.朋友在秘密团列表输入"秘密团代号"即可找到夺宝商品参加。</p>
                    </div>
                </div>
                <div class="car-inner">

                    @*@if(Model!=null)
                    {*@ 
                    <div class="car-inner-list">
                        <!-- list -->
                        <div class="secret_pro">
                            <div class="secret_img">
                                <a class="pro_img" href="javascript:;" title=""><img class="lazy" src="/images/defaultloading.gif" data-original="@Model.ProductImg" width="100%" /></a>
                                <h4 class="pro_name">@Model.ProductName</h4>
                                @*<p class="pro_color">（粉色 黑色 白色）</p>*@
                                <p class="pro_money">￥@Model.ProductPrice</p>
                            </div>
                            <div class="secret_ser" price="@Model.ProductPrice">
                                <ul class="ser_deg">
                                    <li>夺宝次数<span id="showPrice">每次@((Model.ProductPrice).ToString("F1"))卡乐币</span></li>
                                    <li class="num">
                                        <span>购买数量</span>
                                        <span class="pans"><em onclick="subtraction(this)">-</em>@Html.TextBoxFor(c => c.PrivateMemberCount, new { style = "width:2.5rem !important;", oninput = "onlyNum(this)" })<em onclick="addition(this)">+</em></span>
                                    </li>
                                </ul>
                                <ul class="ser_amount">
                                    <li data="10" onclick="SetCount(this)">10</li>
                                    <li data="20" onclick="SetCount(this)">20</li>
                                    <li data="30" onclick="SetCount(this)">30</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ser_code">
                            <ul>
                                <li>我的代码：@Html.TextBoxFor(c => c.PrivateCode, new { placeholder = "请填写你的代码" })
                                </li>
                                <li>编号：@Model.LinceCode</li>
                            </ul>
                        </div>
                    </div>
                    <div class="settle">
                        <a class="ser_index" href="@Url.Action("Index","Home")" title="首页"></a>
                        <input class="orderSub" type="submit" value="提交" />
                    </div>
                        
                   @* }*@
                </div>
            </section>
    
    @Html.HiddenFor(c=>c.NewSpellbuyproductId)
    @Html.HiddenFor(c=>c.ProductName)
    @Html.HiddenFor(c=>c.ProductImg)
    @Html.HiddenFor(c=>c.ProductPrice)
    @Html.HiddenFor(c => c.LinceCode)
}

