@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model UserDTO





<div id="persDeta">
    <div class="datainner">
        <div class="viptop">
            <a class="back" href="javascript:;" title="返回"></a>
            <ul class="vippro">
                <li><a href="javascript:;" title="设置"></a></li>
                <li></li>
            </ul>
        </div>
        <div class="pre-content">
            <a class="pre-photo" href="@Url.Action("ModifyMe", "MyEShopping")" title=""><img src="@Model.faceImg" height="100%" width="100%" /></a>
            <ul>
                <li>@Model.nickName</li>
                <li>钱包：@Model.CurrentWalletOfAll</li>
            </ul>
        </div>
    </div>
    <div class="vipinner">
        <h4>VIP进度条</h4>
        <ul>
            <li class="viplogo"><a href="javascript:;" title=""><img height="100%" src="~/Images/hvip@(Model.Level).png" /></a></li>
            <li class="vipbars"><span style="width:@(ExtendUtility.ConvertProductspeed(Model.Experience,Model.nextLevelNeedExpense))"></span></li>
        </ul>
        <p>VIP积分信息 以及距离领红包还差@(Model.nextLevelNeedExpense)积分</p>
    </div>
</div>
<div class="pre-list">
    <div class="pre-list-inner">
        <ul>
            <li><a class="zhongjilu" href="@Url.Action("ShoppingWinnedList", "UserCenter", new { id=@Model.userId})" title="中奖记录">中奖记录</a></li>
            <li><a class="goujilu" href="@Url.Action("ShoppingHistoryList", "UserCenter", new { id = @Model.userId })" title="购买记录">购买记录</a></li>
            <li><a class="mshaidan" href="@Url.Action("MyShareOrderList", "UserCenter", new { id = @Model.userId })" title="晒单列表">晒单列表</a></li>
        </ul>
    </div>
</div>
