@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model List<BuyProductDTO>


@foreach (var item in Model)
{
    var with = ExtendUtility.ConvertProductspeed(item.spellbuyCount, item.spellbuyLimit);
    <div class="secret_pro">
        <div class="secret_img">
            <a class="pro_img" href="javascript:;" title=""><img src="@item.coverImg1" width="100%" /></a>
            <h4 class="pro_name">@item.productName</h4>
            @*<p class="pro_color" style="padding-bottom:1rem;">（粉色 黑色 白色）</p>*@
            <p class="pro_money" style="font-size:1rem;font-weight:normal;color:#999;">
                期号：@item.licensingCode
                @if (item.spellbuyLimit - item.spellbuyCount > 0)
                {
                    <a href="@Url.Action("Detail", "Product", new { id = @item.id, spellbuyProductId = @item.spellbuyproductId })" title="我也要">我也要</a>
                }
            </p>
            <ul class="pro_num">
                <li class="pro_deg"><span>总计：@item.spellbuyLimit</span><span>剩余：<em>@(item.spellbuyLimit - item.spellbuyCount)</em></span></li>
                <li class="num_line" title="@with"><span style="width:@(with)" title="@with"></span></li>
            </ul>
            <div class="inpcu">
                <ul>
                    <li>本期参与：<span>@item.currentUserBuyCount</span>人次</li>
                    @*<li>购买号码号码:<span>@item.currentUserBuyCode</span></li>*@
                </ul>
            </div>

            @if (item.winnerUserId > 0)
            {
                <div class="pcu_info">
                    <ul>
                        <li>获奖者：<span>@item.winnerUserName</span></li>
                        <li>获奖号码：<span>@item.winnerBuyCode</span></li>
                        <li>揭晓日期:<i>@item.winnerTime.ConvertToPublicDate()</i></li>
                    </ul>
                </div>
            }

        </div>
    </div>
}