@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model List<BuyProductDTO>


<header id="header" class="shopcar-top">

    <h2 style="background-color: #BF0000; color: #fff !important;">购买记录</h2>
</header>
<section id="page-content" class="shopcar-content">
    @*<div class="secret_tabs" id="secretTab" style="margin:0px;">
            <ul>
                <li><a href="@Url.Action("ShoppingHistoryList", "MyEShopping")">全部</a><em></em></li>
                <li><a href="@Url.Action("ShoppingStartingList", "MyEShopping")">进行中</a><em></em></li>
                <li class="curr">已开奖<em></em></li>
            </ul>
        </div>*@
    <div class="swiper-container" id="secretContainar">
        <div class="swiper-wrapper">

            <input type="hidden" value="1" id="pageIndex" />

            <div class="swiper-slide">
                <div class="content-slide">
                    <div class="g_tabs_list">

                        @if (Model != null && Model.Count > 0)
                        {
                            @Html.Partial("ShoppingWinnedListPartial", Model);
                        }

                    </div>
                    @if (Model != null && Model.Count > 0)
                    {
                        <ul class="">

                            <div class="pullUp" style="display: block; line-height: 40px; margin-top: -9% !important; margin-left: 20% !important; ">

                                <div class="pullUpLabel" style="font-family: Arial, Microsoft YaHei; text-align: center; font-size: 14px; cursor: pointer; ">
                                    <a style="color: #09a9ec !important; " onclick="UserShoppingWinnerListLoadMore(@(ViewBag.UserId))">查看更多</a>
                                </div>
                            </div>
                        </ul>
                    }
                    else
                    {
                        <div class="g_tabs_list">
                            <div class="lr-pad">
                                <div class="redpad">
                                    <h5 style="text-align: center;">他/她还没有中奖哦。</h5>
                                    @*<h5 style="text-align:center;">快去挑选几件期待已久的宝贝吧！一元就可以实现你的愿望~</h5>
                                    <h5 style="text-align:center;"><a href="@Url.Action("List", "Product")" title="" style="color:#EA0000;">立即夺宝</a></h5>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>



        </div>
    </div>
</section>
