@using EShopping.Entity.UIDTO
@using EShopping.Common

@model SayDTO

@{


}

<header id="header">
    <h2 >小编说</h2>
</header>
<section id="page-content">
    <div class="swiper-container" id="banner" style="font-size:0px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">@(Model.Content)</a></div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>

    </div>

    @*<div class="products-list">
        <div class="product-title">
            <h2 class="trec">推荐商品</h2>
            <a class="prod-more" href="javascript:;" title=""></a>
        </div>
        <ul class="products">

            @if (Model.Products != null && Model.Products.Count > 0)
            {

                foreach (var item in Model.Products)
                {
                    <li>
                        <a href="@Url.Action("Detail", "Product", new {id=@item.Id, spellBuyProductId=@item.spellbuyproductId })" title="">
                            <img class="lazy" src="/images/defaultloading.gif" data-original="@item.coverImg1" />
                            <span class="prodtitle">@item.productName</span>
                            <span class="prodlott">开奖进度<em>@(ExtendUtility.ConvertProductspeed(item.productLimit, item.spellbuyCount))</em></span>
                            <span class="pacet"><em style="width: @(ExtendUtility.ConvertProductspeed(item.productLimit, item.spellbuyCount))"></em></span>
                            <a class="iaddcar" pid="@item.Id" spellbuyproductid="@item.spellbuyproductId"></a>
                        </a>
                    </li>
                }

            }


        </ul>
    </div>*@
</section>
