@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model List<ProductDTO>

<script type="text/javascript" src="js/libs/swiper.min.js"></script>
<script type="text/javascript">
    //var tabsSwiper = new Swiper('.swiper-container', {
    //    speed: 500,
    //    onSlideChangeStart: function () {
    //        $(".secret_tabs li.curr").removeClass('curr');
    //        $(".secret_tabs li").eq(tabsSwiper.activeIndex).addClass('curr');
    //    }
    //});

    //$(".secret_tabs li.curr").on('touchstart mousedown', function (e) {
    //    e.preventDefault()
    //    $(".secret_tabs li.curr").removeClass('curr');
    //    $(this).addClass('curr');
    //    tabsSwiper.swipeTo($(this).index());
    //});
    //$(".secret_tabs li").click(function (e) {
    //    e.preventDefault();
    //});

</script>



            <header id="header" class="shopcar-top">
                <a class="backs" href="javascript:;" title="返回"></a>
                <h2>秘密团</h2>
            </header>
            <section id="page-content" class="shopcar-content">
                <div class="secret_tabs">
                    <ul>
                        <li class="curr"> 我的秘密团<em></em></li>
                        <li> <a href="@Url.Action("SecretGM", "Secret")">闺蜜团</a><em></em></li>
                        <li><a href="@Url.Action("SecretJY", "Secret")">基友团</a><em></em></li>
                    </ul>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="content-slide">
                                <div class="g_tabs_list">
                                    <div class="part_tuan">
                                        <label><span>参与秘密团</span><input type="text" placeholder="请输入秘密团代码（代码+编号）" /></label>
                                    </div>

                                    @if(Model!=null&&Model.Count>0)
                                    { 
                                    foreach(var item in Model)
                                    { 
                                  
                                    <div class="secret_pro">
                                        <div class="secret_img">
                                            <a class="pro_img" href="@Url.Action("Detail", "Product", new {id=@item.Id,  spellBuyProductId=@item.spellbuyproductId })" title="">
                                            <img src="@item.coverImg1" width="100%" /></a>
                                            <h4 class="pro_name"><a href="@Url.Action("Detail", "Product", new {id=@item.Id,  spellBuyProductId=@item.spellbuyproductId })">@item.productName</a></h4>
                                            @*<p class="pro_color" style="padding-bottom:1rem;">（粉色 黑色 白色）</p>*@
                                            <p class="pro_money" style="font-size:1.2rem">￥@item.productPrice<span class="num_r">总数量：@item.spellbuyLimit</span></p>
                                            <ul class="pro_num">
                                                <li class="pro_deg"><span>已夺宝次数：@item.spellbuyCount</span><span>剩余次数：<em>@(item.spellbuyLimit-item.spellbuyCount)</em></span></li>
                                                <li class="num_line"><span style="width: @(ExtendUtility.ConvertProductspeed(item.productLimit, item.spellbuyCount))"></span></li>
                                            </ul>
                                        </div>
                                        <div class="part_btns">
                                            <a href="javascript:;" title="">参团记录</a>
                                            <a href="javascript:;" title="">继续邀请</a>
                                        </div>
                                    </div>
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
         