@using EShopping.Entity.Response.DTO
@using EShopping.Common
@using EShopping.Entity.UIDTO

@model SecretDTO


<script type="text/javascript">
    $(function () {
        $('.rule_title').on('click', function () {
            console.log('a')
            $('.rule_content').toggle();
        })
    })
</script>
@using (Html.BeginForm("SaveSecret", "Secret", FormMethod.Post))
{ 

            <header id="header" class="shopcar-top">
                <a class="backs" href="javascript:;" title="返回"></a>
                <h2>秘密团</h2>
            </header>
            <section id="page-content" class="shopcar-content">
                <div class="secret_rule">
                    <h3 class="rule_title">秘密团的规则</h3>
                    <div class="rule_content" style="display:none">
                        <p>据法国国际广播电台网站7月14日报道，加拿大不列颠哥伦比亚省财政厅长麦德永表示，市政府政策委员会将于7月25日就引入新法例投票，让温哥华市政府有权向空置房屋业主征税。</p>
                    </div>
                </div>
                <div class="car-inner">

                    @*@if(Model!=null)
                    {*@ 
                    <div class="car-inner-list">
                        <!-- list -->
                        <div class="secret_pro">
                            <div class="secret_img">
                                <a class="pro_img" href="javascript:;" title=""><img src="@Model.ProductImg" width="100%" /></a>
                                <h4 class="pro_name">@Model.ProductName</h4>
                                @*<p class="pro_color">（粉色 黑色 白色）</p>*@
                                <p class="pro_money">￥@Model.ProductPrice</p>
                            </div>
                            <div class="secret_ser">
                                <ul class="ser_deg">
                                    <li>夺宝次数<span>每次@((Model.ProductPrice/Model.SpellbuyLimit).ToString("F2"))易购币</span></li>
                                    <li class="num">
                                        <span>购买数量</span>
                                        <span class="pans"><em>-</em>@Html.TextBoxFor(c=>c.PrivateMemberCount)<em>+</em></span>
                                    </li>
                                </ul>
                                <ul class="ser_amount">
                                    <li>10</li>
                                    <li class="curr">20</li>
                                    <li>30</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ser_code">
                            <ul>
                                <li>我的代码：@Html.TextBoxFor(c => c.PrivateCode, new { placeholder = "请填写你的代码" })
                                </li>
                                <li>编号：@Model.LinceCode</li>
                            </ul>
                        </div>
                    </div>
                    <div class="settle">
                        <a class="ser_index" href="@Url.Action("Index","Home")" title="首页"></a>
                        <input class="orderSub" type="submit" value="提交" />
                    </div>
                        
                   @* }*@
                </div>
            </section>
    
    @Html.HiddenFor(c=>c.NewSpellbuyproductId)
    @Html.HiddenFor(c=>c.ProductName)
    @Html.HiddenFor(c=>c.ProductImg)
    @Html.HiddenFor(c=>c.ProductPrice)
    @Html.HiddenFor(c => c.LinceCode)
}

