@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model List<ProductDTO>


<header id="header" class="shopcar-top">
    <a class="backs" href="javascript:;" title="返回"></a>
    <h2>秘密团</h2>
</header>
<section id="page-content" class="shopcar-content">
    <div class="secret_tabs">
        <ul>
            <li> <a href="@Url.Action("Index", "Secret")">我的秘密团</a><em></em></li>
            <li class="curr">闺蜜团<em></em></li>
            <li> <a href="@Url.Action("SecretJY", "Secret")">基友团</a><em></em></li>
        </ul>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="content-slide">
                    <div class="secret_tabs_list">
                        <ul>

                            @if(Model!=null&&Model.Count>0)
                            {
                                foreach(var item in Model)
                                {
                                      <li>
                                <img src="@item.coverImg1" width="100%" />
                                <h4>@item.productName</h4>
                                          <a href="@Url.Action("SecretStart", "Secret", new {productId=@item.Id, spellbuyproductId =@item.spellbuyproductId,type=1 })" title="">发起秘密团</a>
                            </li>
                                }
                          
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
