@using EShopping.Entity.UIDTO
@using EShopping.WXUI.Controllers

@model List<ShoppingCarDTO>



@{

    decimal price = 0;
    int totalCount = 0;
}

<script type="text/javascript" src="@Url.Content("~/js/BussinesJs/shoppingCar.js?rand="+new Random().Next())"></script>
<script type="text/javascript">
    var ourl = "@Url.Action("CreateShoppingOrder", "ShoppingCar")";
</script>
<script type="text/javascript">
    $(function () {

        $("#ckAll").prop("checked", $(".car-inner-list :checkbox").length == $(".car-inner-list :checkbox:checked").length);

        $("#ckAll").click(function () {
            $(".car-inner-list :checkbox").prop("checked", $("#ckAll").is(":checked"));
            //$(".car-inner-list .ckspan [type='hidden']").val($("#ckAll").is(":checked"));
            ChangebuyNum(this);
        });

        $(".car-inner-list :checkbox").click(function () {
            $("#ckAll").prop("checked", $(".car-inner-list :checkbox").length == $(".car-inner-list :checkbox:checked").length);
            //$(this).next().val($(this).is(":checked"));
            ChangebuyNum(this);
        });
    })
</script>

@Html.ValidationSummaryAlert()
@using (Html.BeginForm("CreateShoppingOrder", "ShoppingCar", FormMethod.Post, new { id = "form1" }))
{
    <header id="header" class="shopcar-top">
        <h2>购物车</h2>
    </header>
    <section id="page-content" class="shopcar-content">
        @if (Model != null && Model.Count > 0)
        {
            <ul class="lr-pad sel_all">
                <li style="overflow:hidden">
                    <a href="javascript:;" title="" style="float:left; margin-left:-1.5rem;">
                        <input type="checkbox" id="ckAll" style="margin-right:10px;" opt="7">全选
                    </a>
                </li>
            </ul>
        }

        <div class="car-inner">
            @if (Model != null && Model.Count > 0)
            {
                totalCount = Model.Count;
                <div class="car-inner-list">


                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var datarest = (Model[i].product.spellbuyLimit - Model[i].product.spellbuyCount) < 0 ? 0 : Model[i].product.spellbuyLimit - Model[i].product.spellbuyCount;

                        if (Model[i].IsChecked)
                        {
                            price += Model[i].TotalPrice;
                        }
                                        <!-- list -->
                        <div class="car-inner-item">
                            <div class="item-title">
                                <div class="lr-pad">
                                    @*<span class="select"></span>*@
                                    <span style="float:left; margin-left:-1.5rem;" class="ckspan">
                                        @Html.CheckBoxFor(c => Model[i].IsChecked, new { @class = "checkSelect", opt = "7" })
                                    </span>
                                    @Html.HiddenFor(c => Model[i].product.Id)
                                    @Html.HiddenFor(c => Model[i].product.spellbuyproductId)
                                    @Html.HiddenFor(c => Model[i].OperationType, new { id = "OperationType" })
                                    <h4>@Model[i].product.productName</h4>
                                    <a class="orderDel" onclick="return confirm('确定删除当前商品？');" href="@Url.Action("AddProductNum", "ShoppingCar", new { id = @Model[i].product.Id, spellBuyProductId = @Model[i].product.spellbuyproductId, num = 0 })" title="删除" num="0" pid="@Model[i].product.Id" spellbuyproductid="@Model[i].product.spellbuyproductId"></a>
                                </div>
                            </div>
                            <div class="item-inner">
                                <a class="carlist-img" href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@Model[i].product.coverImg1" /></a>
                                <ul class="carlist-inners" data-price="@Model[i].product.singlePrice" data-rest="@datarest" data-id="@Model[i].product.Id" data-spellbuyproductid="@Model[i].product.spellbuyproductId">
                                    <li class="tit">剩余数量<em class="stockNum">@(datarest)</em></li>
                                    <li class="num">
                                        <span>购买数量</span>
                                        <span class="pans">
                                            <em data-rest="@datarest">-</em>
                                            @Html.TextBoxFor(c => Model[i].BuyNum, new { id = "carCount", @class = "buyNum", oninput = "onlyNum(this)", type = "number", style = "width:60px !important;text-align:center !important;" })
                                            <em>+</em>
                                        </span>
                                        @if (Model[i].IsBuyAll)
{
    <span class="carend baowei">
        包尾
    </span>
}
else
{
                                            <span class="carend " style="background:#999;"  >
                                                包尾
                                            </span>
                                        }

                                        @Html.HiddenFor(c => Model[i].IsBuyAll)
                                        @Html.HiddenFor(c => Model[i].TotalPrice, new { @class = "totalPrice" })
                                    </li>
                                    <li class="mon" data-rest="@datarest">
                                        <span class="@(Model[i].BuyNum == 10 ? "curr" : "")">10</span>
                                        <span class="@(Model[i].BuyNum == 30 ? "curr" : "")">30</span>
                                        <span class="@(Model[i].BuyNum == 50 ? "curr" : "")">50</span>
                                        <span class="@(Model[i].BuyNum == 100 ? "curr" : "")">100</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }



                </div>
                <div class="settle">
                    <p id="set-price">共@(totalCount)件商品，总计：<em>@(price)</em>卡乐币</p>
                    <input type="submit" value="结算" class="orderSub" onclick="javascript: $('form').attr('action', '/ShoppingCar/CreateShoppingOrder');" />
                </div>
            }
            else
            {

                <div class="car-inner-item">
                    <div class="item-title">
                        <div class="lr-pad">

                            <h4>快去挑选几件期待已久的宝贝吧！一元就可以实现你的愿望~</h4>

                        </div>
                    </div>
                    <div class="item-inner">
                        <a class="carlist-img" href="javascript:;" title=""> </a>
                        <ul class="carlist-inners">
                            <li class="tit"><em><a href="@Url.Action("List", "Product")" title="" style="margin-left:17%;color:#EA0000;">立即夺宝</a></em></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </section>

}